body{
    display: flex;
    flex-direction: column;
    width: 61.8%;
    margin: auto;
    font: normal normal normal 1em/1em "Segoe-UI", sans-serif;
}

    header{
        display: flex;
        flex-direction: row;
        padding: 5px;
        justify-content: space-between;
        margin: 0;
        backdrop-filter: brightness(80%) blur(3px);
        border-radius: 5px;
    }

        header *{
            margin-top: .2em;
            margin-bottom: .2em;
        }

        header .corp{
            display: flex;
            align-items: center;
            background: url(fractal-bg.png);
            background-clip: text;
            color: transparent;
            max-width: 40%;
        }

        header .corp .name{
            text-align: right;
            font-size: 225%;
            font-weight: bold;
        }

        header .corp .brain{
            text-align: center;
            font-size: 200%;
        }

        header .corp .motto{
            font-weight: lighter;
            font-style: italic;
            text-align: left;
            line-height: 75%;
        }

        header .sitenav{
            width: 60%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            font-weight: 1000;
        }
        
    main{
        display: flex;
    }

        main section{
        }

            main section * {
                margin: 0;
            }

        #tables * {
            margin: .5em;
            backdrop-filter: brightness(80%);
            border-radius: 5px;
        }

        #agenda-table{
        }

        #financial-table{
        }

        article{
            margin-top: .5em;
            text-indent: 4ch;
            backdrop-filter: brightness(80%);
            border-radius: 5px;
        }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin: 0;
    }