@-webkit-keyframes gradloop {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@-moz-keyframes gradloop {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}
@keyframes gradloop {
    0%{background-position:0% 77%}
    50%{background-position:100% 24%}
    100%{background-position:0% 77%}
}

html{
    background: skyblue; /*fallback*/
    background-repeat: repeat;
    background-attachment: fixed;
    width: 100%;
    height: 100%;
    overflow:hidden;

    background: linear-gradient(255deg, #861260, #085c80, #470668, #195357, #535353);
    background-size: 500% 500%;
    -webkit-animation: gradloop 120s ease infinite;
    -moz-animation: gradloop 120s ease infinite;
    animation: gradloop 120s ease infinite;
}

main{
    display: flex;
    justify-content: center;
    animation: fadein 10s backwards;
}

.msgbox{
    position:absolute;
    display: flex;
    justify-content: center;
    align-content: center;
    align-self: flex-start;
    color:  azure;
    max-width:1000px;
    border: 1vw azure outset;
    margin-top:5vh;
    padding: auto;
    text-align: center;
    font-size: auto;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
}

#boxbackground {
    position: absolute;
    margin:0;
    padding:0;
    height:100%;
    width:100%;
    background-color:rgb(77, 77, 77);
    z-index:-1;
    opacity:.85;
}

#msg{
}

#errcode {
    font-weight: bold;
    font-size: 130%;
    text-decoration: underline;
    margin:1vh;
    margin-bottom: 0px;
    padding:1vw;
    line-height:1vh;
}

#greeting{
    margin:1vh;
    padding: 1vw;
}

.errpoem {
    word-wrap: unset;
    font-weight: lighter;
    font-size: 100%;
    margin:1vh;
    margin-top:0px;
    padding:1vw;
}

#mountainrange {
    height:100vh;
    width:100vw;
    display:flex;
    align-self: flex-start;
    align-items: flex-end;
    justify-content: center;
    position:absolute;
    margin:0px;
    padding:0px;
}

.mountain{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 30vw solid transparent;
    border-right: 30vw solid transparent;
    border-bottom: 66vh solid rgb(128, 106, 148);
    animation: bouncemtn1 7s ease-in-out forwards;
}

.mountain2{
    position:absolute;
    display:flex;
    justify-self:end;
    align-items:center;
    flex-direction: column;
    border-left: 21vw solid transparent;
    border-right: 21vw solid transparent;
    border-bottom: 75vh solid rgb(36, 66, 75);
    z-index:-1;
    animation: bouncemtn2 11s ease-in-out forwards;
}

.mountain3{
    position: absolute;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-left: 45vw solid transparent;
    border-right: 45vw solid transparent;
    border-bottom: 50vh solid rgb(30, 28, 36);
    animation: bouncemtn3 10s ease forwards;
}

.snowcap{
    position: relative;
    width: 0;
    height: 0;
    border-left: 5vw solid transparent;
    border-right: 5vw solid transparent;
    border-bottom: 8vh solid azure;
}

@keyframes bouncemtn1 {
    from {transform:translate(15vw,100vh)}
    to {transform:translate(19vw,10vh)rotate(5deg)}
}

@keyframes bouncemtn2 {
    from {transform:translate(4vw,100vh)}
    to {transform:translate(10vw,0vh)rotate(2deg)}
}

@keyframes bouncemtn3 {
    from {transform:translate(-5vw,100vh)}
    to {transform:translate(-20vw,10vh)rotate(-5deg)}
}

@keyframes fadein {
    from {opacity:0;}
}

/*blatantly stolen from stackoverflow:*/
.moon {
    position: absolute
;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: azure;
    overflow: hidden;
    animation: moonrise 10s ease both;
    z-index:-5;
}
.moon:after {
    position: absolute;
    content: '';
    height: 100%;
    width: 100%;
    top: 40%;
    left: -12.5%;
    background: rgba(42, 39, 40,.65);
    border-radius: 60%/50%;
}

@keyframes moonrise {
    0%{transform:translate(-50vw,100vh)scale(1.5)rotate(90deg);}
    100%{transform:translate(30vw,15vh)scale(2.5)rotate(100deg);}
} 