html{
    background: repeating-radial-gradient(rgb(0, 0, 0),rgb(0, 116, 184));
    background-position: 0 100px;
}

@keyframes background_spin{
    
}

main{
    position:fixed;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#mtn{
    position:absolute;
    font-size:30vh;
    animation: arisemtn 5s forwards ease-out;
}

#fuji{
    position:absolute;
    font-size:40vh;
    animation: arisefuji 5s forwards ease-out;
}

#snowymtn{
    position:absolute;
    font-size:25vh;
    animation: arisesnowymtn 5s forwards ease-out;
}

@keyframes arisefuji{
    from{transform:translate(0vw,40vh)scale(50%,45%)}
    to{transform:translate(30vw,5vh)}
}

@keyframes arisemtn{
    from{transform:translate(0vw,30vh)scale(50%,40%)}
    to{transform:translate(-15vw,5vh)}
}

@keyframes arisesnowymtn{
    from{transform:translate(0vw,25vh)scale(40%,30%)}
    to{transform:translate(5vw,5vh)}
}